
body {
    margin: 0;
    padding-top: 0px;
    font-size: 1rem;  
    text-align: center;  
    background-color: #E7E7E7;    
    font-family: 'Montserrat', sans-serif;
}

.logo {
    align-items: left;   
}

.customNav {
    position: fixed;
    width: 100%;
    height: 8   0px;
    background: url(../images/bg-color-charcoal.png);
    background-color: transparent !important;
    background-size: cover;
    z-index: 10;
}

.navbar {
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-logo img {
    display: inline-block;    
    padding-top: auto;
    padding-bottom: auto;
    margin-right: 1rem;
    width: 225px;    
    line-height: inherit;
    white-space: nowrap;
}

.nav-item {    
    color: #E7E7E7;  /*why wont this change the color of link text? */
    text-align: center;
    letter-spacing: 2px;   
    padding-left: 10px;
    font-size: 16pt;
    text-decoration: none;  
    font-family: 'Poiret One', cursive;
}
  
.nav-item:hover {
      color: #E7E7E7;
      font-weight: bold;
}

.jumbotron {
    background-color: #E7E7E7;
    background-image: url(../images/DSC03662.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumboCopy {
    width: 70%;
    min-width: 500px;
    max-width: 800px;
    color: #2e2e2e;
    text-align: center;    
}

.jumboCopy img {
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    align-items: center;
    padding-bottom: 20px;
}

.description {
    font-size: 1.75rem;
    font-weight: 500;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}

.caseSection {
    padding-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.caseCopy {
    padding: 20px;
}

.cardContainer {
    position: relative;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    min-width: 0;
    text-align: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 1.25rem;
}

.card {
    position: relative;
    margin: auto;
    width: 100%;
}

.card-title {    
    font-size: 3rem;
    padding-right: 15px;
    padding-left: 15px;
}

.card-text {
    font-size: 1.1rem;    
}

.card-link {
    color: rgb(0,0,0);
}

.card-link:hover {
    color:rgb(156, 29, 129);
    font-weight: bold;
}


